{:GoogleCloudAdvisorynotificationsV1Text {:id "GoogleCloudAdvisorynotificationsV1Text",
                                          :type "object",
                                          :properties {:localizedText {:type "string",
                                                                       :description "The requested localized copy (if applicable)."},
                                                       :enText {:type "string",
                                                                :description "The English copy."},
                                                       :localizationState {:enumDescriptions ["Not used."
                                                                                              "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned."
                                                                                              "Localization for requested language is in progress, and not ready yet."
                                                                                              "Localization for requested language is completed."],
                                                                           :enum ["LOCALIZATION_STATE_UNSPECIFIED"
                                                                                  "LOCALIZATION_STATE_NOT_APPLICABLE"
                                                                                  "LOCALIZATION_STATE_PENDING"
                                                                                  "LOCALIZATION_STATE_COMPLETED"],
                                                                           :type "string",
                                                                           :description "Status of the localization."}},
                                          :description "A text object containing the English text and its localized copies."},
 :GoogleCloudAdvisorynotificationsV1CsvCsvRow {:description "A representation of a single data row in a CSV file.",
                                               :id "GoogleCloudAdvisorynotificationsV1CsvCsvRow",
                                               :properties {:entries {:description "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
                                                                      :items {:type "string"},
                                                                      :type "array"}},
                                               :type "object"},
 :GoogleCloudAdvisorynotificationsV1NotificationSettings {:id "GoogleCloudAdvisorynotificationsV1NotificationSettings",
                                                          :properties {:enabled {:type "boolean",
                                                                                 :description "Whether the associated NotificationType is enabled."}},
                                                          :type "object",
                                                          :description "Settings for each NotificationType."},
 :GoogleCloudAdvisorynotificationsV1Subject {:properties {:text {:description "The text content.",
                                                                 :$ref "GoogleCloudAdvisorynotificationsV1Text"}},
                                             :description "A subject line of a notification.",
                                             :type "object",
                                             :id "GoogleCloudAdvisorynotificationsV1Subject"},
 :GoogleCloudAdvisorynotificationsV1Message {:type "object",
                                             :id "GoogleCloudAdvisorynotificationsV1Message",
                                             :description "A message which contains notification details.",
                                             :properties {:attachments {:description "The attachments to download.",
                                                                        :type "array",
                                                                        :items {:$ref "GoogleCloudAdvisorynotificationsV1Attachment"}},
                                                          :createTime {:type "string",
                                                                       :format "google-datetime",
                                                                       :description "The Message creation timestamp."},
                                                          :body {:description "The message content.",
                                                                 :$ref "GoogleCloudAdvisorynotificationsV1MessageBody"},
                                                          :localizationTime {:format "google-datetime",
                                                                             :description "Time when Message was localized",
                                                                             :type "string"}}},
 :GoogleCloudAdvisorynotificationsV1Settings {:type "object",
                                              :description "Settings for Advisory Notifications.",
                                              :id "GoogleCloudAdvisorynotificationsV1Settings",
                                              :properties {:etag {:description "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle.",
                                                                  :type "string"},
                                                           :notificationSettings {:description "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type.",
                                                                                  :type "object",
                                                                                  :additionalProperties {:$ref "GoogleCloudAdvisorynotificationsV1NotificationSettings"}},
                                                           :name {:type "string",
                                                                  :description "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings."}}},
 :GoogleCloudAdvisorynotificationsV1MessageBody {:id "GoogleCloudAdvisorynotificationsV1MessageBody",
                                                 :properties {:text {:$ref "GoogleCloudAdvisorynotificationsV1Text",
                                                                     :description "The text content of the message body."}},
                                                 :description "A message body containing text.",
                                                 :type "object"},
 :GoogleCloudAdvisorynotificationsV1Csv {:properties {:dataRows {:type "array",
                                                                 :items {:$ref "GoogleCloudAdvisorynotificationsV1CsvCsvRow"},
                                                                 :description "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string."},
                                                      :headers {:items {:type "string"},
                                                                :description "The list of headers for data columns in a CSV file.",
                                                                :type "array"}},
                                         :id "GoogleCloudAdvisorynotificationsV1Csv",
                                         :type "object",
                                         :description "A representation of a CSV file attachment, as a list of column headers and a list of data rows."},
 :GoogleCloudAdvisorynotificationsV1Attachment {:properties {:csv {:$ref "GoogleCloudAdvisorynotificationsV1Csv",
                                                                   :description "A CSV file attachment. Max size is 10 MB."},
                                                             :displayName {:type "string",
                                                                           :description "The title of the attachment."}},
                                                :id "GoogleCloudAdvisorynotificationsV1Attachment",
                                                :type "object",
                                                :description "Attachment with specific information about the issue."},
 :GoogleCloudAdvisorynotificationsV1ListNotificationsResponse {:id "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse",
                                                               :properties {:notifications {:type "array",
                                                                                            :description "List of notifications under a given parent.",
                                                                                            :items {:$ref "GoogleCloudAdvisorynotificationsV1Notification"}},
                                                                            :nextPageToken {:type "string",
                                                                                            :description "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."},
                                                                            :totalSize {:type "integer",
                                                                                        :description "Estimation of a total number of notifications.",
                                                                                        :format "int32"}},
                                                               :type "object",
                                                               :description "Response of ListNotifications endpoint."},
 :GoogleCloudAdvisorynotificationsV1Notification {:description "A notification object for notifying customers about security and privacy issues.",
                                                  :properties {:subject {:description "The subject line of the notification.",
                                                                         :$ref "GoogleCloudAdvisorynotificationsV1Subject"},
                                                               :createTime {:description "Output only. Time the notification was created.",
                                                                            :format "google-datetime",
                                                                            :readOnly true,
                                                                            :type "string"},
                                                               :messages {:items {:$ref "GoogleCloudAdvisorynotificationsV1Message"},
                                                                          :type "array",
                                                                          :description "A list of messages in the notification."},
                                                               :notificationType {:type "string",
                                                                                  :enum ["NOTIFICATION_TYPE_UNSPECIFIED"
                                                                                         "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY"
                                                                                         "NOTIFICATION_TYPE_SENSITIVE_ACTIONS"
                                                                                         "NOTIFICATION_TYPE_SECURITY_MSA"
                                                                                         "NOTIFICATION_TYPE_THREAT_HORIZONS"],
                                                                                  :description "Type of notification",
                                                                                  :enumDescriptions ["Default type"
                                                                                                     "Security and privacy advisory notifications"
                                                                                                     "Sensitive action notifications"
                                                                                                     "General security MSA"
                                                                                                     "Threat horizons MSA"]},
                                                               :name {:type "string",
                                                                      :description "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}."}},
                                                  :type "object",
                                                  :id "GoogleCloudAdvisorynotificationsV1Notification"}}
