{:BlogUserInfo {:properties {:kind {:type "string",
                                    :description "The kind of this entity. Always blogger#blogUserInfo."},
                             :blog {:$ref "Blog",
                                    :description "The Blog resource."},
                             :blog_user_info {:$ref "BlogPerUserInfo",
                                              :description "Information about a User for the Blog."}},
                :id "BlogUserInfo",
                :type "object"},
 :PostPerUserInfo {:id "PostPerUserInfo",
                   :type "object",
                   :properties {:hasEditAccess {:description "True if the user has Author level access to the post.",
                                                :type "boolean"},
                                :blogId {:type "string",
                                         :description "ID of the Blog that the post resource belongs to."},
                                :kind {:description "The kind of this entity. Always blogger#postPerUserInfo.",
                                       :type "string"},
                                :userId {:type "string",
                                         :description "ID of the User."},
                                :postId {:description "ID of the Post resource.",
                                         :type "string"}}},
 :Post {:properties {:labels {:type "array",
                              :description "The list of labels this Post was tagged with.",
                              :items {:type "string"}},
                     :titleLink {:type "string",
                                 :description "The title link URL, similar to atom's related link."},
                     :content {:type "string",
                               :description "The content of the Post. May contain HTML markup."},
                     :updated {:description "RFC 3339 date-time when this Post was last updated.",
                               :type "string"},
                     :images {:description "Display image for the Post.",
                              :items {:properties {:url {:type "string"}},
                                      :type "object"},
                              :type "array"},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :etag {:type "string",
                            :description "Etag of the resource."},
                     :title {:type "string",
                             :description "The title of the Post."},
                     :author {:description "The author of this Post.",
                              :type "object",
                              :properties {:displayName {:description "The display name.",
                                                         :type "string"},
                                           :url {:description "The URL of the creator's Profile page.",
                                                 :type "string"},
                                           :id {:description "The identifier of the creator.",
                                                :type "string"},
                                           :image {:description "The creator's avatar.",
                                                   :type "object",
                                                   :properties {:url {:description "The creator's avatar URL.",
                                                                      :type "string"}}}}},
                     :replies {:description "The container of comments on this Post.",
                               :type "object",
                               :properties {:items {:type "array",
                                                    :items {:$ref "Comment"},
                                                    :description "The List of Comments for this Post."},
                                            :totalItems {:format "int64",
                                                         :type "string",
                                                         :description "The count of comments on this post."},
                                            :selfLink {:description "The URL of the comments on this post.",
                                                       :type "string"}}},
                     :status {:enum ["LIVE"
                                     "DRAFT"
                                     "SCHEDULED"
                                     "SOFT_TRASHED"],
                              :description "Status of the post. Only set for admin-level requests.",
                              :type "string",
                              :enumDescriptions ["" "" "" ""]},
                     :customMetaData {:type "string",
                                      :description "The JSON meta-data for the Post."},
                     :trashed {:description "RFC 3339 date-time when this Post was last trashed.",
                               :type "string"},
                     :id {:description "The identifier of this Post.",
                          :type "string"},
                     :kind {:type "string",
                            :description "The kind of this entity. Always blogger#post."},
                     :url {:description "The URL where this Post is displayed.",
                           :type "string"},
                     :readerComments {:enumDescriptions ["" "" ""],
                                      :enum ["ALLOW"
                                             "DONT_ALLOW_SHOW_EXISTING"
                                             "DONT_ALLOW_HIDE_EXISTING"],
                                      :type "string",
                                      :description "Comment control and display setting for readers of this post."},
                     :location {:properties {:name {:type "string",
                                                    :description "Location name."},
                                             :span {:type "string",
                                                    :description "Location's viewport span. Can be used when rendering a map preview."},
                                             :lng {:type "number",
                                                   :description "Location's longitude.",
                                                   :format "double"},
                                             :lat {:type "number",
                                                   :format "double",
                                                   :description "Location's latitude."}},
                                :type "object",
                                :description "The location for geotagged posts."},
                     :blog {:type "object",
                            :properties {:id {:type "string",
                                              :description "The identifier of the Blog that contains this Post."}},
                            :description "Data about the blog containing this Post."},
                     :published {:type "string",
                                 :description "RFC 3339 date-time when this Post was published."}},
        :id "Post",
        :type "object"},
 :CommentList {:id "CommentList",
               :type "object",
               :properties {:etag {:type "string",
                                   :description "Etag of the response."},
                            :kind {:type "string",
                                   :description "The kind of this entry. Always blogger#commentList."},
                            :prevPageToken {:description "Pagination token to fetch the previous page, if one exists.",
                                            :type "string"},
                            :nextPageToken {:type "string",
                                            :description "Pagination token to fetch the next page, if one exists."},
                            :items {:description "The List of Comments for a Post.",
                                    :type "array",
                                    :items {:$ref "Comment"}}}},
 :Comment {:type "object",
           :id "Comment",
           :properties {:inReplyTo {:properties {:id {:description "The identified of the parent of this comment.",
                                                      :type "string"}},
                                    :type "object",
                                    :description "Data about the comment this is in reply to."},
                        :content {:type "string",
                                  :description "The actual content of the comment. May include HTML markup."},
                        :updated {:description "RFC 3339 date-time when this comment was last updated.",
                                  :type "string"},
                        :selfLink {:description "The API REST URL to fetch this resource from.",
                                   :type "string"},
                        :author {:type "object",
                                 :description "The author of this Comment.",
                                 :properties {:image {:description "The creator's avatar.",
                                                      :type "object",
                                                      :properties {:url {:description "The creator's avatar URL.",
                                                                         :type "string"}}},
                                              :url {:description "The URL of the creator's Profile page.",
                                                    :type "string"},
                                              :displayName {:description "The display name.",
                                                            :type "string"},
                                              :id {:description "The identifier of the creator.",
                                                   :type "string"}}},
                        :status {:enumDescriptions ["" "" "" ""],
                                 :type "string",
                                 :description "The status of the comment (only populated for admin users).",
                                 :enum ["LIVE"
                                        "EMPTIED"
                                        "PENDING"
                                        "SPAM"]},
                        :id {:type "string",
                             :description "The identifier for this resource."},
                        :kind {:type "string",
                               :description "The kind of this entry. Always blogger#comment."},
                        :post {:description "Data about the post containing this comment.",
                               :type "object",
                               :properties {:id {:type "string",
                                                 :description "The identifier of the post containing this comment."}}},
                        :blog {:properties {:id {:description "The identifier of the blog containing this comment.",
                                                 :type "string"}},
                               :description "Data about the blog containing this comment.",
                               :type "object"},
                        :published {:description "RFC 3339 date-time when this comment was published.",
                                    :type "string"}}},
 :BlogList {:properties {:kind {:type "string",
                                :description "The kind of this entity. Always blogger#blogList."},
                         :blogUserInfos {:items {:$ref "BlogUserInfo"},
                                         :description "Admin level list of blog per-user information.",
                                         :type "array"},
                         :items {:description "The list of Blogs this user has Authorship or Admin rights over.",
                                 :type "array",
                                 :items {:$ref "Blog"}}},
            :id "BlogList",
            :type "object"},
 :Page {:type "object",
        :properties {:content {:type "string",
                               :description "The body content of this Page, in HTML."},
                     :updated {:description "RFC 3339 date-time when this Page was last updated.",
                               :type "string"},
                     :selfLink {:description "The API REST URL to fetch this resource from.",
                                :type "string"},
                     :etag {:type "string",
                            :description "Etag of the resource."},
                     :title {:type "string",
                             :description "The title of this entity. This is the name displayed in the Admin user interface."},
                     :author {:description "The author of this Page.",
                              :properties {:id {:type "string",
                                                :description "The identifier of the creator."},
                                           :displayName {:type "string",
                                                         :description "The display name."},
                                           :image {:properties {:url {:type "string",
                                                                      :description "The creator's avatar URL."}},
                                                   :description "The creator's avatar.",
                                                   :type "object"},
                                           :url {:description "The URL of the creator's Profile page.",
                                                 :type "string"}},
                              :type "object"},
                     :status {:description "The status of the page for admin resources (either LIVE or DRAFT).",
                              :enumDescriptions ["" "" ""],
                              :type "string",
                              :enum ["LIVE" "DRAFT" "SOFT_TRASHED"]},
                     :trashed {:description "RFC 3339 date-time when this Page was trashed.",
                               :type "string"},
                     :id {:type "string",
                          :description "The identifier for this resource."},
                     :kind {:type "string",
                            :description "The kind of this entity. Always blogger#page."},
                     :url {:description "The URL that this Page is displayed at.",
                           :type "string"},
                     :blog {:type "object",
                            :properties {:id {:type "string",
                                              :description "The identifier of the blog containing this page."}},
                            :description "Data about the blog containing this Page."},
                     :published {:description "RFC 3339 date-time when this Page was published.",
                                 :type "string"}},
        :id "Page"},
 :Blog {:properties {:description {:type "string",
                                   :description "The description of this blog. This is displayed underneath the title."},
                     :locale {:properties {:variant {:description "The language variant this blog is authored in.",
                                                     :type "string"},
                                           :country {:type "string",
                                                     :description "The country this blog's locale is set to."},
                                           :language {:type "string",
                                                      :description "The language this blog is authored in."}},
                              :description "The locale this Blog is set to.",
                              :type "object"},
                     :updated {:type "string",
                               :description "RFC 3339 date-time when this blog was last updated."},
                     :name {:type "string",
                            :description "The name of this blog. This is displayed as the title."},
                     :selfLink {:description "The API REST URL to fetch this resource from.",
                                :type "string"},
                     :pages {:properties {:selfLink {:description "The URL of the container for pages in this blog.",
                                                     :type "string"},
                                          :totalItems {:type "integer",
                                                       :format "int32",
                                                       :description "The count of pages in this blog."}},
                             :description "The container of pages in this blog.",
                             :type "object"},
                     :status {:enumDescriptions ["" ""],
                              :type "string",
                              :enum ["LIVE" "DELETED"],
                              :description "The status of the blog."},
                     :customMetaData {:description "The JSON custom meta-data for the Blog.",
                                      :type "string"},
                     :id {:type "string",
                          :description "The identifier for this resource."},
                     :kind {:type "string",
                            :description "The kind of this entry. Always blogger#blog."},
                     :url {:type "string",
                           :description "The URL where this blog is published."},
                     :posts {:properties {:totalItems {:format "int32",
                                                       :description "The count of posts in this blog.",
                                                       :type "integer"},
                                          :items {:description "The List of Posts for this Blog.",
                                                  :type "array",
                                                  :items {:$ref "Post"}},
                                          :selfLink {:type "string",
                                                     :description "The URL of the container for posts in this blog."}},
                             :type "object",
                             :description "The container of posts in this blog."},
                     :published {:type "string",
                                 :description "RFC 3339 date-time when this blog was published."}},
        :id "Blog",
        :type "object"},
 :User {:properties {:locale {:description "This user's locale",
                              :type "object",
                              :properties {:language {:description "The language this blog is authored in.",
                                                      :type "string"},
                                           :variant {:description "The language variant this blog is authored in.",
                                                     :type "string"},
                                           :country {:description "The country this blog's locale is set to.",
                                                     :type "string"}}},
                     :displayName {:description "The display name.",
                                   :type "string"},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :created {:type "string",
                               :description "The timestamp of when this profile was created, in seconds since epoch."},
                     :blogs {:properties {:selfLink {:type "string",
                                                     :description "The URL of the Blogs for this user."}},
                             :description "The container of blogs for this user.",
                             :type "object"},
                     :id {:type "string",
                          :description "The identifier for this User."},
                     :kind {:type "string",
                            :description "The kind of this entity. Always blogger#user."},
                     :url {:description "The user's profile page.",
                           :type "string"},
                     :about {:type "string",
                             :description "Profile summary information."}},
        :type "object",
        :id "User"},
 :Pageviews {:properties {:blogId {:type "string",
                                   :description "Blog Id."},
                          :kind {:type "string",
                                 :description "The kind of this entry. Always blogger#page_views."},
                          :counts {:type "array",
                                   :description "The container of posts in this blog.",
                                   :items {:type "object",
                                           :properties {:count {:format "int64",
                                                                :description "Count of page views for the given time range.",
                                                                :type "string"},
                                                        :timeRange {:enum ["ALL_TIME"
                                                                           "THIRTY_DAYS"
                                                                           "SEVEN_DAYS"],
                                                                    :description "Time range the given count applies to.",
                                                                    :enumDescriptions [""
                                                                                       ""
                                                                                       ""],
                                                                    :type "string"}}}}},
             :id "Pageviews",
             :type "object"},
 :PageList {:type "object",
            :properties {:nextPageToken {:description "Pagination token to fetch the next page, if one exists.",
                                         :type "string"},
                         :kind {:description "The kind of this entity. Always blogger#pageList.",
                                :type "string"},
                         :items {:description "The list of Pages for a Blog.",
                                 :type "array",
                                 :items {:$ref "Page"}},
                         :etag {:type "string",
                                :description "Etag of the response."}},
            :id "PageList"},
 :BlogPerUserInfo {:id "BlogPerUserInfo",
                   :properties {:userId {:description "ID of the User.",
                                         :type "string"},
                                :photosAlbumKey {:type "string",
                                                 :description "The Photo Album Key for the user when adding photos to the blog."},
                                :hasAdminAccess {:type "boolean",
                                                 :description "True if the user has Admin level access to the blog."},
                                :kind {:type "string",
                                       :description "The kind of this entity. Always blogger#blogPerUserInfo."},
                                :role {:type "string",
                                       :enum ["VIEW_TYPE_UNSPECIFIED"
                                              "READER"
                                              "AUTHOR"
                                              "ADMIN"],
                                       :description "Access permissions that the user has for the blog (ADMIN, AUTHOR, or READER).",
                                       :enumDescriptions ["" "" "" ""]},
                                :blogId {:description "ID of the Blog resource.",
                                         :type "string"}},
                   :type "object"},
 :PostUserInfo {:type "object",
                :properties {:kind {:type "string",
                                    :description "The kind of this entity. Always blogger#postUserInfo."},
                             :post_user_info {:$ref "PostPerUserInfo",
                                              :description "Information about a User for the Post."},
                             :post {:description "The Post resource.",
                                    :$ref "Post"}},
                :id "PostUserInfo"},
 :PostList {:properties {:nextPageToken {:type "string",
                                         :description "Pagination token to fetch the next page, if one exists."},
                         :etag {:description "Etag of the response.",
                                :type "string"},
                         :kind {:type "string",
                                :description "The kind of this entity. Always blogger#postList."},
                         :items {:items {:$ref "Post"},
                                 :description "The list of Posts for this Blog.",
                                 :type "array"},
                         :prevPageToken {:type "string",
                                         :description "Pagination token to fetch the previous page, if one exists."}},
            :type "object",
            :id "PostList"},
 :PostUserInfosList {:type "object",
                     :properties {:items {:type "array",
                                          :items {:$ref "PostUserInfo"},
                                          :description "The list of Posts with User information for the post, for this Blog."},
                                  :kind {:description "The kind of this entity. Always blogger#postList.",
                                         :type "string"},
                                  :nextPageToken {:type "string",
                                                  :description "Pagination token to fetch the next page, if one exists."}},
                     :id "PostUserInfosList"}}
