{:RestResource {:type "object",
                :id "RestResource",
                :properties {:deprecated {:type "boolean",
                                          :description "Whether this resource is deprecated."},
                             :methods {:description "Methods on this resource.",
                                       :additionalProperties {:description "Description for any methods on this resource.",
                                                              :$ref "RestMethod"},
                                       :type "object"},
                             :resources {:type "object",
                                         :description "Sub-resources on this resource.",
                                         :additionalProperties {:description "Description for any sub-resources on this resource.",
                                                                :$ref "RestResource"}}}},
 :RestMethod {:type "object",
              :properties {:response {:description "The schema for the response.",
                                      :properties {:$ref {:type "string",
                                                          :description "Schema ID for the response schema."}},
                                      :type "object"},
                           :scopes {:description "OAuth 2.0 scopes applicable to this method.",
                                    :items {:type "string"},
                                    :type "array"},
                           :description {:description "Description of this method.",
                                         :type "string"},
                           :path {:type "string",
                                  :description "The URI path of this REST method. Should be used in conjunction with the basePath property at the api-level."},
                           :supportsMediaDownload {:description "Whether this method supports media downloads.",
                                                   :type "boolean"},
                           :supportsMediaUpload {:type "boolean",
                                                 :description "Whether this method supports media uploads."},
                           :request {:type "object",
                                     :description "The schema for the request.",
                                     :properties {:parameterName {:type "string",
                                                                  :description "parameter name."},
                                                  :$ref {:description "Schema ID for the request schema.",
                                                         :type "string"}}},
                           :mediaUpload {:description "Media upload parameters.",
                                         :properties {:protocols {:type "object",
                                                                  :description "Supported upload protocols.",
                                                                  :properties {:simple {:properties {:multipart {:default "true",
                                                                                                                 :description "True if this endpoint supports upload multipart media.",
                                                                                                                 :type "boolean"},
                                                                                                     :path {:type "string",
                                                                                                            :description "The URI path to be used for upload. Should be used in conjunction with the basePath property at the api-level."}},
                                                                                        :type "object",
                                                                                        :description "Supports uploading as a single HTTP request."},
                                                                               :resumable {:properties {:multipart {:type "boolean",
                                                                                                                    :default "true",
                                                                                                                    :description "True if this endpoint supports uploading multipart media."},
                                                                                                        :path {:type "string",
                                                                                                               :description "The URI path to be used for upload. Should be used in conjunction with the basePath property at the api-level."}},
                                                                                           :description "Supports the Resumable Media Upload protocol.",
                                                                                           :type "object"}}},
                                                      :maxSize {:description "Maximum size of a media upload, such as \"1MB\", \"2GB\" or \"3TB\".",
                                                                :type "string"},
                                                      :accept {:description "MIME Media Ranges for acceptable media uploads to this method.",
                                                               :type "array",
                                                               :items {:type "string"}}},
                                         :type "object"},
                           :useMediaDownloadService {:description "Indicates that downloads from this method should use the download service URL (i.e. \"/download\"). Only applies if the method supports media download.",
                                                     :type "boolean"},
                           :etagRequired {:description "Whether this method requires an ETag to be specified. The ETag is sent as an HTTP If-Match or If-None-Match header.",
                                          :type "boolean"},
                           :deprecated {:description "Whether this method is deprecated.",
                                        :type "boolean"},
                           :id {:type "string",
                                :description "A unique ID for this method. This property can be used to match methods between different versions of Discovery."},
                           :supportsSubscription {:type "boolean",
                                                  :description "Whether this method supports subscriptions."},
                           :apiVersion {:description "The API Version of this method, as passed in via the `X-Goog-Api-Version` header or `$apiVersion` query parameter.",
                                        :type "string"},
                           :parameterOrder {:type "array",
                                            :description "Ordered list of required parameters, serves as a hint to clients on how to structure their method signatures. The array is ordered such that the \"most-significant\" parameter appears first.",
                                            :items {:type "string"}},
                           :httpMethod {:type "string",
                                        :description "HTTP method used by this method."},
                           :flatPath {:type "string",
                                      :description "The URI path of this REST method in (RFC 6570) format without level 2 features ({+var}). Supplementary to the path property."},
                           :parameters {:type "object",
                                        :description "Details for all parameters in this method.",
                                        :additionalProperties {:$ref "JsonSchema",
                                                               :description "Details for a single parameter in this method."}}},
              :id "RestMethod"},
 :RestDescription {:id "RestDescription",
                   :properties {:description {:description "The description of this API.",
                                              :type "string"},
                                :features {:description "A list of supported features for this API.",
                                           :items {:type "string"},
                                           :type "array"},
                                :labels {:items {:type "string"},
                                         :description "Labels for the status of this API, such as labs or deprecated.",
                                         :type "array"},
                                :documentationLink {:type "string",
                                                    :description "A link to human readable documentation for the API."},
                                :revision {:description "The version of this API.",
                                           :type "string"},
                                :protocol {:type "string",
                                           :description "The protocol described by this document.",
                                           :default "rest"},
                                :name {:type "string",
                                       :description "The name of this API."},
                                :rootUrl {:type "string",
                                          :description "The root URL under which all API services live."},
                                :batchPath {:description "The path for REST batch requests.",
                                            :type "string"},
                                :etag {:description "The ETag for this response.",
                                       :readOnly true,
                                       :type "string"},
                                :baseUrl {:description "[DEPRECATED] The base URL for REST requests.",
                                          :type "string"},
                                :auth {:description "Authentication information.",
                                       :properties {:oauth2 {:type "object",
                                                             :properties {:scopes {:additionalProperties {:properties {:description {:description "Description of scope.",
                                                                                                                                     :type "string"}},
                                                                                                          :description "The scope value.",
                                                                                                          :type "object"},
                                                                                   :type "object",
                                                                                   :description "Available OAuth 2.0 scopes."}},
                                                             :description "OAuth 2.0 authentication information."}},
                                       :type "object"},
                                :icons {:description "Links to 16x16 and 32x32 icons representing the API.",
                                        :properties {:x32 {:type "string",
                                                           :description "The URL of the 32x32 icon."},
                                                     :x16 {:description "The URL of the 16x16 icon.",
                                                           :type "string"}},
                                        :type "object"},
                                :canonicalName {:type "string",
                                                :description "Indicates how the API name should be capitalized and split into various parts. Useful for generating pretty class names."},
                                :title {:type "string",
                                        :description "The title of this API."},
                                :endpoints {:items {:description "A single endpoint object",
                                                    :type "object",
                                                    :properties {:endpointUrl {:description "The URL of the endpoint target host",
                                                                               :type "string"},
                                                                 :description {:description "A string describing the host designated by the URL",
                                                                               :type "string"},
                                                                 :location {:type "string",
                                                                            :description "The location of the endpoint"},
                                                                 :deprecated {:description "Whether this endpoint is deprecated",
                                                                              :type "boolean"}}},
                                            :type "array",
                                            :description "A list of location-based endpoint objects for this API. Each object contains the endpoint URL, location, description and deprecation status."},
                                :ownerName {:type "string",
                                            :description "The name of the owner of this API. See ownerDomain."},
                                :methods {:additionalProperties {:description "An individual method description.",
                                                                 :$ref "RestMethod"},
                                          :type "object",
                                          :description "API-level methods for this API."},
                                :schemas {:description "The schemas for this API.",
                                          :type "object",
                                          :additionalProperties {:description "An individual schema description.",
                                                                 :$ref "JsonSchema"}},
                                :id {:description "The ID of this API.",
                                     :type "string"},
                                :kind {:description "The kind for this response.",
                                       :default "discovery#restDescription",
                                       :type "string"},
                                :version_module {:type "boolean"},
                                :packagePath {:description "The package of the owner of this API. See ownerDomain.",
                                              :type "string"},
                                :exponentialBackoffDefault {:type "boolean",
                                                            :description "Enable exponential backoff for suitable methods in the generated clients."},
                                :version {:description "The version of this API.",
                                          :type "string"},
                                :discoveryVersion {:default "v1",
                                                   :description "Indicate the version of the Discovery API used to generate this doc.",
                                                   :type "string"},
                                :resources {:additionalProperties {:description "An individual resource description. Contains methods and sub-resources related to this resource.",
                                                                   :$ref "RestResource"},
                                            :description "The resources in this API.",
                                            :type "object"},
                                :ownerDomain {:type "string",
                                              :description "The domain of the owner of this API. Together with the ownerName and a packagePath values, this can be used to generate a library for this API which would have a unique fully qualified name."},
                                :parameters {:description "Common parameters that apply across all apis.",
                                             :additionalProperties {:description "Description of a single parameter.",
                                                                    :$ref "JsonSchema"},
                                             :type "object"},
                                :servicePath {:type "string",
                                              :description "The base path for all REST requests."},
                                :basePath {:description "[DEPRECATED] The base path for REST requests.",
                                           :type "string"}},
                   :type "object"},
 :JsonSchema {:properties {:description {:description "A description of this object.",
                                         :type "string"},
                           :enum {:description "Values this parameter may take (if it is an enum).",
                                  :type "array",
                                  :items {:type "string"}},
                           :properties {:additionalProperties {:description "A single property of this object. The value is itself a JSON Schema object describing this property.",
                                                               :$ref "JsonSchema"},
                                        :type "object",
                                        :description "If this is a schema for an object, list the schema for each property of this object."},
                           :additionalProperties {:$ref "JsonSchema",
                                                  :description "If this is a schema for an object, this property is the schema for any additional properties with dynamic keys on this object."},
                           :format {:type "string",
                                    :description "An additional regular expression or key that helps constrain the value. For more details see: http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.23"},
                           :variant {:properties {:discriminant {:description "The name of the type discriminant property.",
                                                                 :type "string"},
                                                  :map {:type "array",
                                                        :description "The map of discriminant value to schema to use for parsing..",
                                                        :items {:properties {:$ref {:type "string"},
                                                                             :type_value {:type "string"}},
                                                                :type "object"}}},
                                     :description "In a variant data type, the value of one property is used to determine how to interpret the entire entity. Its value must exist in a map of descriminant values to schema names.",
                                     :type "object"},
                           :default {:description "The default value of this property (if one exists).",
                                     :type "string"},
                           :maximum {:type "string",
                                     :description "The maximum value of this parameter."},
                           :type {:type "string",
                                  :description "The value type for this schema. A list of values can be found here: http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.1"},
                           :enumDescriptions {:description "The descriptions for the enums. Each position maps to the corresponding value in the \"enum\" array.",
                                              :type "array",
                                              :items {:type "string"}},
                           :readOnly {:description "The value is read-only, generated by the service. The value cannot be modified by the client. If the value is included in a POST, PUT, or PATCH request, it is ignored by the service.",
                                      :type "boolean"},
                           :deprecated {:description "Whether the parameter is deprecated.",
                                        :type "boolean"},
                           :id {:type "string",
                                :description "Unique identifier for this schema."},
                           :minimum {:type "string",
                                     :description "The minimum value of this parameter."},
                           :enumDeprecated {:type "array",
                                            :items {:type "boolean"},
                                            :description "The deprecation status for the enums. Each position maps to the corresponding value in the \"enum\" array."},
                           :annotations {:description "Additional information about this property.",
                                         :type "object",
                                         :properties {:required {:items {:type "string"},
                                                                 :description "A list of methods for which this property is required on requests.",
                                                                 :type "array"}}},
                           :items {:$ref "JsonSchema",
                                   :description "If this is a schema for an array, this property is the schema for each element in the array."},
                           :$ref {:type "string",
                                  :description "A reference to another schema. The value of this property is the \"id\" of another schema."},
                           :location {:description "Whether this parameter goes in the query or the path for REST requests.",
                                      :type "string"},
                           :required {:description "Whether the parameter is required.",
                                      :type "boolean"},
                           :pattern {:type "string",
                                     :description "The regular expression this parameter must conform to. Uses Java 6 regex format: http://docs.oracle.com/javase/6/docs/api/java/util/regex/Pattern.html"},
                           :repeated {:type "boolean",
                                      :description "Whether this parameter may appear multiple times."}},
              :id "JsonSchema",
              :type "object"},
 :DirectoryList {:type "object",
                 :properties {:items {:description "The individual directory entries. One entry per api/version pair.",
                                      :type "array",
                                      :items {:properties {:description {:type "string",
                                                                         :description "The description of this API."},
                                                           :labels {:items {:type "string"},
                                                                    :description "Labels for the status of this API, such as labs or deprecated.",
                                                                    :type "array"},
                                                           :discoveryLink {:description "A link to the discovery document.",
                                                                           :type "string"},
                                                           :documentationLink {:description "A link to human readable documentation for the API.",
                                                                               :type "string"},
                                                           :name {:description "The name of the API.",
                                                                  :type "string"},
                                                           :icons {:description "Links to 16x16 and 32x32 icons representing the API.",
                                                                   :type "object",
                                                                   :properties {:x16 {:description "The URL of the 16x16 icon.",
                                                                                      :type "string"},
                                                                                :x32 {:description "The URL of the 32x32 icon.",
                                                                                      :type "string"}}},
                                                           :title {:type "string",
                                                                   :description "The title of this API."},
                                                           :discoveryRestUrl {:type "string",
                                                                              :description "The URL for the discovery REST document."},
                                                           :id {:description "The id of this API.",
                                                                :type "string"},
                                                           :kind {:default "discovery#directoryItem",
                                                                  :type "string",
                                                                  :description "The kind for this response."},
                                                           :preferred {:type "boolean",
                                                                       :description "True if this version is the preferred version to use."},
                                                           :version {:type "string",
                                                                     :description "The version of the API."}},
                                              :type "object"}},
                              :discoveryVersion {:type "string",
                                                 :default "v1",
                                                 :description "Indicate the version of the Discovery API used to generate this doc."},
                              :kind {:default "discovery#directoryList",
                                     :type "string",
                                     :description "The kind for this response."}},
                 :id "DirectoryList"}}
