{:QueryRequestInput {:id "QueryRequestInput",
                     :properties {:payload {:description "Payload containing third-party device IDs.",
                                            :$ref "QueryRequestPayload"}},
                     :description "Device ID inputs to QueryRequest.",
                     :type "object"},
 :SyncRequest {:type "object",
               :id "SyncRequest",
               :description "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
               :properties {:agentUserId {:description "Required. Third-party user ID.",
                                          :type "string"},
                            :requestId {:description "Request ID used for debugging.",
                                        :type "string"}}},
 :QueryResponse {:properties {:requestId {:type "string",
                                          :description "Request ID used for debugging. Copied from the request."},
                              :payload {:description "Device states for the devices given in the request.",
                                        :$ref "QueryResponsePayload"}},
                 :description "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
                 :id "QueryResponse",
                 :type "object"},
 :StateAndNotificationPayload {:description "Payload containing the state and notification information for devices.",
                               :properties {:devices {:$ref "ReportStateAndNotificationDevice",
                                                      :description "The devices for updating state and sending notifications."}},
                               :type "object",
                               :id "StateAndNotificationPayload"},
 :QueryRequestPayload {:type "object",
                       :properties {:devices {:items {:$ref "AgentDeviceId"},
                                              :type "array",
                                              :description "Third-party device IDs for which to get the device states."}},
                       :id "QueryRequestPayload",
                       :description "Payload containing device IDs."},
 :ReportStateAndNotificationDevice {:properties {:states {:type "object",
                                                          :description "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
                                                          :additionalProperties {:description "Properties of the object.",
                                                                                 :type "any"}},
                                                 :notifications {:type "object",
                                                                 :additionalProperties {:description "Properties of the object.",
                                                                                        :type "any"},
                                                                 :description "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."}},
                                    :id "ReportStateAndNotificationDevice",
                                    :description "The states and notifications specific to a device.",
                                    :type "object"},
 :DeviceNames {:description "Identifiers used to describe the device.",
               :id "DeviceNames",
               :type "object",
               :properties {:nicknames {:description "Additional names provided by the user for the device.",
                                        :items {:type "string"},
                                        :type "array"},
                            :defaultNames {:items {:type "string"},
                                           :description "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
                                           :type "array"},
                            :name {:description "Primary name of the device, generally provided by the user.",
                                   :type "string"}}},
 :SyncResponse {:description "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
                :type "object",
                :properties {:payload {:description "Devices associated with the third-party user.",
                                       :$ref "SyncResponsePayload"},
                             :requestId {:type "string",
                                         :description "Request ID used for debugging. Copied from the request."}},
                :id "SyncResponse"},
 :AgentOtherDeviceId {:id "AgentOtherDeviceId",
                      :description "Alternate third-party device ID.",
                      :type "object",
                      :properties {:agentId {:type "string",
                                             :description "Project ID for your smart home Action."},
                                   :deviceId {:description "Unique third-party device ID.",
                                              :type "string"}}},
 :DeviceInfo {:description "Device information.",
              :id "DeviceInfo",
              :type "object",
              :properties {:manufacturer {:type "string",
                                          :description "Device manufacturer."},
                           :hwVersion {:type "string",
                                       :description "Device hardware version."},
                           :model {:type "string",
                                   :description "Device model."},
                           :swVersion {:type "string",
                                       :description "Device software version."}}},
 :QueryRequest {:properties {:requestId {:description "Request ID used for debugging.",
                                         :type "string"},
                             :agentUserId {:description "Required. Third-party user ID.",
                                           :type "string"},
                             :inputs {:description "Required. Inputs containing third-party device IDs for which to get the device states.",
                                      :type "array",
                                      :items {:$ref "QueryRequestInput"}}},
                :id "QueryRequest",
                :description "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
                :type "object"},
 :RequestSyncDevicesRequest {:id "RequestSyncDevicesRequest",
                             :type "object",
                             :properties {:async {:description "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
                                                  :type "boolean"},
                                          :agentUserId {:description "Required. Third-party user ID.",
                                                        :type "string"}},
                             :description "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call."},
 :Empty {:description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
         :id "Empty",
         :type "object",
         :properties {}},
 :ReportStateAndNotificationResponse {:type "object",
                                      :properties {:requestId {:description "Request ID copied from ReportStateAndNotificationRequest.",
                                                               :type "string"}},
                                      :description "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
                                      :id "ReportStateAndNotificationResponse"},
 :SyncResponsePayload {:description "Payload containing device information.",
                       :properties {:agentUserId {:description "Third-party user ID",
                                                  :type "string"},
                                    :devices {:description "Devices associated with the third-party user.",
                                              :items {:$ref "Device"},
                                              :type "array"}},
                       :id "SyncResponsePayload",
                       :type "object"},
 :AgentDeviceId {:id "AgentDeviceId",
                 :type "object",
                 :description "Third-party device ID for one device.",
                 :properties {:id {:description "Third-party device ID.",
                                   :type "string"}}},
 :ReportStateAndNotificationRequest {:properties {:agentUserId {:type "string",
                                                                :description "Required. Third-party user ID."},
                                                  :payload {:$ref "StateAndNotificationPayload",
                                                            :description "Required. State of devices to update and notification metadata for devices."},
                                                  :eventId {:type "string",
                                                            :description "Unique identifier per event (for example, a doorbell press)."},
                                                  :requestId {:type "string",
                                                              :description "Request ID used for debugging."},
                                                  :followUpToken {:deprecated true,
                                                                  :description "Deprecated.",
                                                                  :type "string"}},
                                     :id "ReportStateAndNotificationRequest",
                                     :type "object",
                                     :description "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, or both. States and notifications are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 } }, } } } ```"},
 :QueryResponsePayload {:id "QueryResponsePayload",
                        :properties {:devices {:description "States of the devices. Map of third-party device ID to struct of device states.",
                                               :type "object",
                                               :additionalProperties {:type "object",
                                                                      :additionalProperties {:description "Properties of the object.",
                                                                                             :type "any"}}}},
                        :type "object",
                        :description "Payload containing device states information."},
 :Device {:id "Device",
          :type "object",
          :properties {:notificationSupportedByAgent {:description "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
                                                      :type "boolean"},
                       :willReportState {:description "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
                                         :type "boolean"},
                       :deviceInfo {:description "Device manufacturer, model, hardware version, and software version.",
                                    :$ref "DeviceInfo"},
                       :otherDeviceIds {:description "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
                                        :type "array",
                                        :items {:$ref "AgentOtherDeviceId"}},
                       :name {:$ref "DeviceNames",
                              :description "Names given to this device by your smart home Action."},
                       :type {:description "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides).",
                              :type "string"},
                       :roomHint {:type "string",
                                  :description "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."},
                       :id {:type "string",
                            :description "Third-party device ID."},
                       :structureHint {:type "string",
                                       :description "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."},
                       :attributes {:description "Attributes for the traits supported by the device.",
                                    :additionalProperties {:type "any",
                                                           :description "Properties of the object."},
                                    :type "object"},
                       :customData {:type "object",
                                    :additionalProperties {:type "any",
                                                           :description "Properties of the object."},
                                    :description "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information."},
                       :traits {:items {:type "string"},
                                :type "array",
                                :description "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."}},
          :description "Third-party device definition."},
 :RequestSyncDevicesResponse {:properties {},
                              :id "RequestSyncDevicesResponse",
                              :description "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
                              :type "object"}}
