{:Organization {:properties {:organizationName {:type "string",
                                                :description "Optional. A human-readable name of the organization, to help recognize the organization."},
                             :organizationId {:description "Required. ID of the organization.",
                                              :type "string"}},
                :type "object",
                :id "Organization",
                :description "Represents an organization that can access a custom app."},
 :CustomApp {:properties {:packageName {:readOnly true,
                                        :description "Output only. Package name of the created Android app. Only present in the API response.",
                                        :type "string"},
                          :title {:type "string",
                                  :description "Title for the Android app."},
                          :organizations {:items {:$ref "Organization"},
                                          :type "array",
                                          :description "Organizations to which the custom app should be made available. If the request contains any organizations, then the app will be restricted to only these organizations. To support the organization linked to the developer account, the organization ID should be provided explicitly together with other organizations. If no organizations are provided, then the app is only available to the organization linked to the developer account."},
                          :languageCode {:type "string",
                                         :description "Default listing language in BCP 47 format."}},
             :id "CustomApp",
             :description "This resource represents a custom app.",
             :type "object"}}
