{:VerifyTokenRequest {:description "Request message for VerifyToken.",
                      :id "VerifyTokenRequest",
                      :type "object",
                      :properties {:persona {:type "string",
                                             :description "Required. Persona represented by the token. Format: personas/{persona}"}}},
 :CreateOrUpdateTagsResponse {:type "object",
                              :properties {:tags {:description "All requested tags are returned, including pre-existing ones.",
                                                  :type "array",
                                                  :items {:$ref "Tag"}}},
                              :id "CreateOrUpdateTagsResponse",
                              :description "Response message for CreateOrUpdateTags."},
 :Tag {:type "object",
       :description "A tag is associated with exactly one package name and user.",
       :id "Tag",
       :properties {:key {:description "Required. Key for the tag.",
                          :type "string"},
                    :timeValue {:type "string",
                                :format "google-datetime",
                                :description "A time value of the tag."},
                    :stringValue {:description "A string value of the tag.",
                                  :type "string"},
                    :booleanValue {:description "A boolean value of the tag.",
                                   :type "boolean"},
                    :int64Value {:type "string",
                                 :format "int64",
                                 :description "A signed 64-bit integer value of the tag."}}},
 :VerifyTokenResponse {:properties {},
                       :description "Response message for VerifyToken.",
                       :id "VerifyTokenResponse",
                       :type "object"},
 :CreateOrUpdateTagsRequest {:type "object",
                             :description "Request message for CreateOrUpdateTags. VerifyToken.",
                             :properties {:tags {:description "Tags to be inserted or updated.",
                                                 :type "array",
                                                 :items {:$ref "Tag"}}},
                             :id "CreateOrUpdateTagsRequest"}}
