{:GoogleHomeEnterpriseSdmV1ListDevicesResponse {:id "GoogleHomeEnterpriseSdmV1ListDevicesResponse",
                                                :description "Response message for SmartDeviceManagementService.ListDevices",
                                                :type "object",
                                                :properties {:devices {:items {:$ref "GoogleHomeEnterpriseSdmV1Device"},
                                                                       :description "The list of devices.",
                                                                       :type "array"}}},
 :GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandRequest {:id "GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandRequest",
                                                        :properties {:params {:description "The command message to execute, represented as a Struct.",
                                                                              :type "object",
                                                                              :additionalProperties {:type "any",
                                                                                                     :description "Properties of the object."}},
                                                                     :command {:description "The command name to execute, represented by the fully qualified protobuf message name.",
                                                                               :type "string"}},
                                                        :description "Request message for SmartDeviceManagementService.ExecuteDeviceCommand",
                                                        :type "object"},
 :GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandResponse {:description "Response message for SmartDeviceManagementService.ExecuteDeviceCommand",
                                                         :properties {:results {:additionalProperties {:description "Properties of the object.",
                                                                                                       :type "any"},
                                                                                :type "object",
                                                                                :description "The results of executing the command."}},
                                                         :type "object",
                                                         :id "GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandResponse"},
 :GoogleHomeEnterpriseSdmV1ListRoomsResponse {:properties {:rooms {:type "array",
                                                                   :items {:$ref "GoogleHomeEnterpriseSdmV1Room"},
                                                                   :description "The list of rooms."}},
                                              :description "Response message for SmartDeviceManagementService.ListRooms",
                                              :id "GoogleHomeEnterpriseSdmV1ListRoomsResponse",
                                              :type "object"},
 :GoogleHomeEnterpriseSdmV1ListStructuresResponse {:properties {:structures {:items {:$ref "GoogleHomeEnterpriseSdmV1Structure"},
                                                                             :type "array",
                                                                             :description "The list of structures."}},
                                                   :type "object",
                                                   :id "GoogleHomeEnterpriseSdmV1ListStructuresResponse",
                                                   :description "Response message for SmartDeviceManagementService.ListStructures"},
 :GoogleHomeEnterpriseSdmV1ParentRelation {:type "object",
                                           :description "Represents device relationships, for instance, structure/room to which the device is assigned to.",
                                           :properties {:displayName {:type "string",
                                                                      :readOnly true,
                                                                      :description "Output only. The custom name of the relation -- e.g., structure/room where the device is assigned to."},
                                                        :parent {:type "string",
                                                                 :description "Output only. The name of the relation -- e.g., structure/room where the device is assigned to. For example: \"enterprises/XYZ/structures/ABC\" or \"enterprises/XYZ/structures/ABC/rooms/123\"",
                                                                 :readOnly true}},
                                           :id "GoogleHomeEnterpriseSdmV1ParentRelation"},
 :GoogleHomeEnterpriseSdmV1Device {:type "object",
                                   :properties {:parentRelations {:items {:$ref "GoogleHomeEnterpriseSdmV1ParentRelation"},
                                                                  :description "Assignee details of the device.",
                                                                  :type "array"},
                                                :traits {:type "object",
                                                         :additionalProperties {:type "any",
                                                                                :description "Properties of the object."},
                                                         :description "Output only. Device traits.",
                                                         :readOnly true},
                                                :type {:readOnly true,
                                                       :description "Output only. Type of the device for general display purposes. For example: \"THERMOSTAT\". The device type should not be used to deduce or infer functionality of the actual device it is assigned to. Instead, use the returned traits for the device.",
                                                       :type "string"},
                                                :name {:description "Required. The resource name of the device. For example: \"enterprises/XYZ/devices/123\".",
                                                       :type "string"}},
                                   :description "Device resource represents an instance of enterprise managed device in the property.",
                                   :id "GoogleHomeEnterpriseSdmV1Device"},
 :GoogleHomeEnterpriseSdmV1Room {:properties {:traits {:type "object",
                                                       :additionalProperties {:description "Properties of the object.",
                                                                              :type "any"},
                                                       :description "Room traits."},
                                              :name {:type "string",
                                                     :description "Output only. The resource name of the room. For example: \"enterprises/XYZ/structures/ABC/rooms/123\".",
                                                     :readOnly true}},
                                 :description "Room resource represents an instance of sub-space within a structure such as rooms in a hotel suite or rental apartment.",
                                 :type "object",
                                 :id "GoogleHomeEnterpriseSdmV1Room"},
 :GoogleHomeEnterpriseSdmV1Structure {:id "GoogleHomeEnterpriseSdmV1Structure",
                                      :type "object",
                                      :description "Structure resource represents an instance of enterprise managed home or hotel room.",
                                      :properties {:name {:description "Output only. The resource name of the structure. For example: \"enterprises/XYZ/structures/ABC\".",
                                                          :readOnly true,
                                                          :type "string"},
                                                   :traits {:type "object",
                                                            :additionalProperties {:description "Properties of the object.",
                                                                                   :type "any"},
                                                            :description "Structure traits."}}}}
