{:ListJobsResponse {:properties {:jobs {:description "The list of jobs.",
                                        :type "array",
                                        :items {:$ref "Job"}},
                                 :nextPageToken {:description "A token to retrieve next page of results. Pass this value in the ListJobsRequest.page_token field in the subsequent call to `ListJobs` method to retrieve the next page of results.",
                                                 :type "string"}},
                    :id "ListJobsResponse",
                    :description "Response message for ReportingService.ListJobs.",
                    :type "object"},
 :ReportType {:type "object",
              :properties {:deprecateTime {:format "google-datetime",
                                           :type "string",
                                           :description "The date/time when this report type was/will be deprecated."},
                           :systemManaged {:type "boolean",
                                           :description "True if this a system-managed report type; otherwise false. Reporting jobs for system-managed report types are created automatically and can thus not be used in the `CreateJob` method."},
                           :id {:type "string",
                                :description "The ID of the report type (max. 100 characters)."},
                           :name {:type "string",
                                  :description "The name of the report type (max. 100 characters)."}},
              :id "ReportType",
              :description "A report type."},
 :GdataDiffVersionResponse {:id "GdataDiffVersionResponse",
                            :description "gdata",
                            :properties {:objectVersion {:type "string",
                                                         :description "gdata"},
                                         :objectSizeBytes {:type "string",
                                                           :format "int64",
                                                           :description "gdata"}},
                            :type "object"},
 :GdataContentTypeInfo {:properties {:fromBytes {:type "string",
                                                 :description "gdata"},
                                     :fromHeader {:description "gdata",
                                                  :type "string"},
                                     :fromFileName {:description "gdata",
                                                    :type "string"},
                                     :bestGuess {:description "gdata",
                                                 :type "string"},
                                     :fromUrlPath {:description "gdata",
                                                   :type "string"}},
                        :description "gdata",
                        :id "GdataContentTypeInfo",
                        :type "object"},
 :GdataMedia {:id "GdataMedia",
              :description "gdata",
              :type "object",
              :properties {:path {:description "gdata",
                                  :type "string"},
                           :sha256Hash {:type "string",
                                        :description "gdata",
                                        :format "byte"},
                           :algorithm {:type "string",
                                       :description "gdata",
                                       :deprecated true},
                           :hash {:description "gdata",
                                  :deprecated true,
                                  :type "string"},
                           :contentTypeInfo {:description "gdata",
                                             :$ref "GdataContentTypeInfo"},
                           :diffChecksumsResponse {:$ref "GdataDiffChecksumsResponse",
                                                   :description "gdata"},
                           :objectId {:$ref "GdataObjectId",
                                      :description "gdata"},
                           :crc32cHash {:type "integer",
                                        :description "gdata",
                                        :format "uint32"},
                           :isPotentialRetry {:description "gdata",
                                              :type "boolean"},
                           :diffVersionResponse {:$ref "GdataDiffVersionResponse",
                                                 :description "gdata"},
                           :blobRef {:type "string",
                                     :description "gdata",
                                     :format "byte",
                                     :deprecated true},
                           :bigstoreObjectRef {:type "string",
                                               :deprecated true,
                                               :description "gdata",
                                               :format "byte"},
                           :cosmoBinaryReference {:type "string",
                                                  :description "gdata",
                                                  :format "byte"},
                           :md5Hash {:format "byte",
                                     :description "gdata",
                                     :type "string"},
                           :token {:type "string",
                                   :description "gdata"},
                           :filename {:description "gdata",
                                      :type "string"},
                           :diffUploadResponse {:$ref "GdataDiffUploadResponse",
                                                :description "gdata"},
                           :sha1Hash {:format "byte",
                                      :type "string",
                                      :description "gdata"},
                           :diffDownloadResponse {:description "gdata",
                                                  :$ref "GdataDiffDownloadResponse"},
                           :compositeMedia {:items {:$ref "GdataCompositeMedia"},
                                            :type "array",
                                            :description "gdata"},
                           :referenceType {:description "gdata",
                                           :enum ["PATH"
                                                  "BLOB_REF"
                                                  "INLINE"
                                                  "GET_MEDIA"
                                                  "COMPOSITE_MEDIA"
                                                  "BIGSTORE_REF"
                                                  "DIFF_VERSION_RESPONSE"
                                                  "DIFF_CHECKSUMS_RESPONSE"
                                                  "DIFF_DOWNLOAD_RESPONSE"
                                                  "DIFF_UPLOAD_REQUEST"
                                                  "DIFF_UPLOAD_RESPONSE"
                                                  "COSMO_BINARY_REFERENCE"
                                                  "ARBITRARY_BYTES"],
                                           :type "string",
                                           :enumDescriptions ["gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"]},
                           :length {:description "gdata",
                                    :format "int64",
                                    :type "string"},
                           :downloadParameters {:description "gdata",
                                                :$ref "GdataDownloadParameters"},
                           :blobstore2Info {:$ref "GdataBlobstore2Info",
                                            :description "gdata"},
                           :hashVerified {:type "boolean",
                                          :description "gdata"},
                           :contentType {:description "gdata",
                                         :type "string"},
                           :diffUploadRequest {:$ref "GdataDiffUploadRequest",
                                               :description "gdata"},
                           :timestamp {:format "uint64",
                                       :type "string",
                                       :description "gdata"},
                           :inline {:description "gdata",
                                    :format "byte",
                                    :type "string"},
                           :mediaId {:type "string",
                                     :description "gdata",
                                     :format "byte"}}},
 :Report {:id "Report",
          :type "object",
          :properties {:id {:type "string",
                            :description "The server-generated ID of the report."},
                       :jobId {:description "The ID of the job that created this report.",
                               :type "string"},
                       :createTime {:type "string",
                                    :description "The date/time when this report was created.",
                                    :format "google-datetime"},
                       :endTime {:type "string",
                                 :format "google-datetime",
                                 :description "The end of the time period that the report instance covers. The value is exclusive."},
                       :startTime {:type "string",
                                   :description "The start of the time period that the report instance covers. The value is inclusive.",
                                   :format "google-datetime"},
                       :downloadUrl {:type "string",
                                     :description "The URL from which the report can be downloaded (max. 1000 characters)."},
                       :jobExpireTime {:type "string",
                                       :format "google-datetime",
                                       :description "The date/time when the job this report belongs to will expire/expired."}},
          :description "A report's metadata including the URL from which the report itself can be downloaded."},
 :GdataDiffChecksumsResponse {:properties {:objectVersion {:description "gdata",
                                                           :type "string"},
                                           :checksumsLocation {:description "gdata",
                                                               :$ref "GdataCompositeMedia"},
                                           :objectLocation {:$ref "GdataCompositeMedia",
                                                            :description "gdata"},
                                           :objectSizeBytes {:format "int64",
                                                             :type "string",
                                                             :description "gdata"},
                                           :chunkSizeBytes {:type "string",
                                                            :description "gdata",
                                                            :format "int64"}},
                              :type "object",
                              :id "GdataDiffChecksumsResponse",
                              :description "gdata"},
 :GdataObjectId {:type "object",
                 :id "GdataObjectId",
                 :description "gdata",
                 :properties {:bucketName {:description "gdata",
                                           :type "string"},
                              :generation {:description "gdata",
                                           :format "int64",
                                           :type "string"},
                              :objectName {:type "string",
                                           :description "gdata"}}},
 :GdataDiffUploadResponse {:type "object",
                           :properties {:objectVersion {:description "gdata",
                                                        :type "string"},
                                        :originalObject {:$ref "GdataCompositeMedia",
                                                         :description "gdata"}},
                           :id "GdataDiffUploadResponse",
                           :description "gdata"},
 :GdataDiffUploadRequest {:properties {:objectInfo {:$ref "GdataCompositeMedia",
                                                    :description "gdata"},
                                       :objectVersion {:description "gdata",
                                                       :type "string"},
                                       :checksumsInfo {:description "gdata",
                                                       :$ref "GdataCompositeMedia"}},
                          :type "object",
                          :description "gdata",
                          :id "GdataDiffUploadRequest"},
 :GdataDownloadParameters {:id "GdataDownloadParameters",
                           :properties {:ignoreRange {:type "boolean",
                                                      :description "gdata"},
                                        :allowGzipCompression {:type "boolean",
                                                               :description "gdata"}},
                           :description "gdata",
                           :type "object"},
 :GdataCompositeMedia {:description "gdata",
                       :properties {:path {:description "gdata",
                                           :type "string"},
                                    :objectId {:$ref "GdataObjectId",
                                               :description "gdata"},
                                    :crc32cHash {:description "gdata",
                                                 :type "integer",
                                                 :format "uint32"},
                                    :blobRef {:format "byte",
                                              :description "gdata",
                                              :deprecated true,
                                              :type "string"},
                                    :cosmoBinaryReference {:format "byte",
                                                           :description "gdata",
                                                           :type "string"},
                                    :md5Hash {:description "gdata",
                                              :type "string",
                                              :format "byte"},
                                    :sha1Hash {:format "byte",
                                               :description "gdata",
                                               :type "string"},
                                    :referenceType {:enum ["PATH"
                                                           "BLOB_REF"
                                                           "INLINE"
                                                           "BIGSTORE_REF"
                                                           "COSMO_BINARY_REFERENCE"],
                                                    :description "gdata",
                                                    :type "string",
                                                    :enumDescriptions ["gdata"
                                                                       "gdata"
                                                                       "gdata"
                                                                       "gdata"
                                                                       "gdata"]},
                                    :length {:format "int64",
                                             :type "string",
                                             :description "gdata"},
                                    :blobstore2Info {:description "gdata",
                                                     :$ref "GdataBlobstore2Info"},
                                    :inline {:description "gdata",
                                             :type "string",
                                             :format "byte"}},
                       :type "object",
                       :id "GdataCompositeMedia"},
 :ListReportsResponse {:type "object",
                       :id "ListReportsResponse",
                       :description "Response message for ReportingService.ListReports.",
                       :properties {:reports {:items {:$ref "Report"},
                                              :description "The list of report types.",
                                              :type "array"},
                                    :nextPageToken {:type "string",
                                                    :description "A token to retrieve next page of results. Pass this value in the ListReportsRequest.page_token field in the subsequent call to `ListReports` method to retrieve the next page of results."}}},
 :Empty {:type "object",
         :properties {},
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
         :id "Empty"},
 :GdataDiffDownloadResponse {:description "gdata",
                             :type "object",
                             :id "GdataDiffDownloadResponse",
                             :properties {:objectLocation {:description "gdata",
                                                           :$ref "GdataCompositeMedia"}}},
 :Job {:type "object",
       :id "Job",
       :properties {:reportTypeId {:type "string",
                                   :description "The type of reports this job creates. Corresponds to the ID of a ReportType."},
                    :id {:type "string",
                         :description "The server-generated ID of the job (max. 40 characters)."},
                    :expireTime {:type "string",
                                 :description "The date/time when this job will expire/expired. After a job expired, no new reports are generated.",
                                 :format "google-datetime"},
                    :name {:description "The name of the job (max. 100 characters).",
                           :type "string"},
                    :createTime {:format "google-datetime",
                                 :type "string",
                                 :description "The creation date/time of the job."},
                    :systemManaged {:description "True if this a system-managed job that cannot be modified by the user; otherwise false.",
                                    :type "boolean"}},
       :description "A job creating reports of a specific type."},
 :GdataBlobstore2Info {:properties {:blobGeneration {:type "string",
                                                     :description "gdata",
                                                     :format "int64"},
                                    :blobId {:description "gdata",
                                             :type "string"},
                                    :uploadMetadataContainer {:description "gdata",
                                                              :format "byte",
                                                              :type "string"},
                                    :readToken {:description "gdata",
                                                :type "string"},
                                    :downloadReadHandle {:format "byte",
                                                         :description "gdata",
                                                         :type "string"}},
                       :type "object",
                       :id "GdataBlobstore2Info",
                       :description "gdata"},
 :ListReportTypesResponse {:type "object",
                           :description "Response message for ReportingService.ListReportTypes.",
                           :properties {:nextPageToken {:description "A token to retrieve next page of results. Pass this value in the ListReportTypesRequest.page_token field in the subsequent call to `ListReportTypes` method to retrieve the next page of results.",
                                                        :type "string"},
                                        :reportTypes {:type "array",
                                                      :items {:$ref "ReportType"},
                                                      :description "The list of report types."}},
                           :id "ListReportTypesResponse"}}
